---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/r/programming.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Moose:
      - majestic
    body:
      encoding: UTF-8
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t3",
        "data": {"domain": "ruby-lang.org", "banned_by": null, "media_embed": {},
        "subreddit": "programming", "selftext_html": null, "selftext": "", "likes":
        null, "user_reports": [], "secure_media": null, "link_flair_text": null, "id":
        "2qcysh", "gilded": 0, "secure_media_embed": {}, "clicked": false, "report_reasons":
        null, "author": "sidcool1234", "media": null, "score": 140, "approved_by":
        null, "over_18": false, "hidden": false, "thumbnail": "", "subreddit_id":
        "t5_2fwo", "edited": false, "link_flair_css_class": null, "author_flair_css_class":
        null, "downs": 0, "mod_reports": [], "saved": false, "is_self": false, "name":
        "t3_2qcysh", "permalink": "/r/programming/comments/2qcysh/ruby_220_released/",
        "stickied": false, "created": 1419538729.0, "url": "https://www.ruby-lang.org/en/news/2014/12/25/ruby-2-2-0-released/",
        "author_flair_text": null, "title": "Ruby 2.2.0 released", "created_utc":
        1419509929.0, "ups": 140, "num_comments": 19, "visited": false, "num_reports":
        null, "distinguished": null}}, {"kind": "t3", "data": {"domain": "gpfault.net",
        "banned_by": null, "media_embed": {}, "subreddit": "programming", "selftext_html":
        null, "selftext": "", "likes": null, "user_reports": [], "secure_media": null,
        "link_flair_text": null, "id": "2qbzic", "gilded": 0, "secure_media_embed":
        {}, "clicked": false, "report_reasons": null, "author": "nicebyte", "media":
        null, "score": 483, "approved_by": null, "over_18": false, "hidden": false,
        "th[...]
