---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/r/programming.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Moose:
      - majestic
    body:
      encoding: UTF-8
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t3",
        "data": {"domain": "blog.memsql.com", "banned_by": null, "media_embed": {},
        "subreddit": "programming", "selftext_html": null, "selftext": "", "likes":
        null, "user_reports": [], "secure_media": null, "link_flair_text": null, "id":
        "2n1hox", "gilded": 0, "secure_media_embed": {}, "clicked": false, "report_reasons":
        null, "author": "based2", "media": null, "score": 493, "approved_by": null,
        "over_18": false, "hidden": false, "thumbnail": "", "subreddit_id": "t5_2fwo",
        "edited": false, "link_flair_css_class": null, "author_flair_css_class": null,
        "downs": 0, "mod_reports": [], "saved": false, "is_self": false, "name": "t3_2n1hox",
        "permalink": "/r/programming/comments/2n1hox/cache_is_the_new_ram/", "stickied":
        false, "created": 1416647112.0, "url": "http://blog.memsql.com/cache-is-the-new-ram/",
        "author_flair_text": null, "title": "Cache is the new RAM", "created_utc":
        1416618312.0, "ups": 493, "num_comments": 64, "visited": false, "num_reports":
        null, "distinguished": null}}, {"kind": "t3", "data": {"domain": "shubhro.com",
        "banned_by": null, "media_embed": {}, "subreddit": "programming", "selftext_html":
        null, "selftext": "", "likes": null, "user_reports": [], "secure_media": null,
        "link_flair_text": null, "id": "2n0nw5", "gilded": 0, "secure_media_embed":
        {}, "clicked": false, "report_reasons": null, "author": "shbhrsaha", "media":
        null, "score": 864, "approved_by": null, "over_18": false, "hidden": false,
        "thumbnail": "", "subreddit_id": "t5_2fwo", "edited": false, "link_flair_css_class":
        null, "author_flair_css_class": null, "downs": 0, "mod_reports": [], "saved":
        false, "is_self": false, "name": "t3_2n0nw5", "permalink": "/r/programming/comments/2n0nw5/how_a_course_in_operating_systems_changed_me/",
        "stickied": false, "created": 1416630761.0, "url": "http://www.shubhro.com/2014/11/21/operating-systems/",
        "author_flair_text": null, "title": "How a course in operating systems changed
        me", "created_utc": 1416601961.0, "ups": 864, "num_comments": 252, "visited":
        false, "num_reports": null, "distinguished": null}}, {"kind": "t3", "data":
        {"domain": "youtube.com", "banned_by": null, "media_embed": {"content": "&lt;iframe
        class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=http%3A%2F%2Fwww.youtube.com%2Fembed%2FQdVFvsCWXrA%3Ffeature%3Doembed&amp;url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DQdVFvsCWXrA&amp;image=http%3A%2F%2Fi.ytimg.com%2Fvi%2FQdVFvsCWXrA%2Fhqdefault.jpg&amp;key=2aa3c4d5f3de4f5b9120b660ad850dc9&amp;type=text%2Fhtml&amp;schema=youtube\"
        width=\"600\" height=\"338\" scrolling=\"no\" frameborder=\"0\" allowfullscreen&gt;&lt;/iframe&gt;",
        "width": 600, "scrolling": false, "height": 338}, "subreddit": "programming",
        "selftext_html": null, "selftext": "", "likes": null, "user_reports": [],
        "secure_media": {"type": "youtube.com", "oembed": {"provider_url": "http://www.youtube.com/",
        "description": "Uploaded by ComputerHistory on 2014-11-17.", "title": "The
        Art of Writing Software", "url": "http://www.youtube.com/watch?v=QdVFvsCWXrA",
        "author_name": "ComputerHistory", "height": 338, "width": 600, "html": "&lt;iframe
        class=\"embedly-embed\" src=\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FQdVFvsCWXrA%3Ffeature%3Doembed&amp;url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DQdVFvsCWXrA&amp;image=http%3A%2F%2Fi.ytimg.com%2Fvi%2FQdVFvsCWXrA%2Fhqdefault.jpg&amp;key=2aa3c4d5f3de4f5b9120b660ad850dc9&amp;type=text%2Fhtml&amp;schema=youtube\"
        width=\"600\" height=\"338\" scrolling=\"no\" frameborder=\"0\" allowfullscreen&gt;&lt;/iframe&gt;",
        "thumbnail_width": 480, "version": "1.0", "provider_name": "YouTube", "thumbnail_url":
        "https://i.embed.ly/1/image?url=http%3A%2F%2Fi.ytimg.com%2Fvi%2FQdVFvsCWXrA%2Fhqdefault.jpg&amp;key=b1e305db91cf4aa5a86b732cc9fffceb",
        "type": "video", "thumbnail_height": 360, "author_url": "http://www.youtube.com/user/ComputerHistory"}},
        "link_flair_text": null, "id": "2n2zvr", "gilded": 0, "secure_media_embed":
        {"content": "&lt;iframe class=\"embedly-embed\" src=\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FQdVFvsCWXrA%3Ffeature%3Doembed&amp;url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DQdVFvsCWXrA&amp;image=http%3A%2F%2Fi.ytimg.com%2Fvi%2FQdVFvsCWXrA%2Fhqdefault.jpg&amp;key=2aa3c4d5f3de4f5b9120b660ad850dc9&amp;type=tex[...]
