---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/r/programming.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Moose:
      - majestic
    body:
      encoding: UTF-8
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t3",
        "data": {"domain": "nknetobserver.github.io", "banned_by": null, "media_embed":
        {}, "subreddit": "programming", "selftext_html": null, "selftext": "", "likes":
        null, "user_reports": [], "secure_media": null, "link_flair_text": null, "id":
        "2pwnle", "gilded": 0, "secure_media_embed": {}, "clicked": false, "report_reasons":
        null, "author": "mattylovesyou", "media": null, "score": 70, "approved_by":
        null, "over_18": false, "hidden": false, "thumbnail": "", "subreddit_id":
        "t5_2fwo", "edited": false, "link_flair_css_class": null, "author_flair_css_class":
        null, "downs": 0, "mod_reports": [], "saved": false, "is_self": false, "name":
        "t3_2pwnle", "permalink": "/r/programming/comments/2pwnle/scans_of_north_korean_ip_space/",
        "stickied": false, "created": 1419131654.0, "url": "http://nknetobserver.github.io/",
        "author_flair_text": null, "title": "Scans of North Korean IP Space", "created_utc":
        1419102854.0, "ups": 70, "num_comments": 8, "visited": false, "num_reports":
        null, "distinguished": null}}, {"kind": "t3", "data": {"domain": "github.com",
        "banned_by": null, "media_embed": {}, "subreddit": "programming", "selftext_html":
        null, "selftext": "", "likes": null, "user_reports": [], "secure_media": null,
        "link_flair_text": null, "id": "2pvf68", "gilded": 0, "secure_media_embed":
        {}, "clicked": false, "report_reasons": null, "author": "logicchains", "media":
        null, "score": 335, "approved_by": null, "over_18": false, "hidden": false,
        "[...]
