---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/r/programming.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Moose:
      - majestic
    body:
      encoding: UTF-8
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t3",
        "data": {"domain": "bits.blogs.nytimes.com", "banned_by": null, "media_embed":
        {}, "subreddit": "programming", "selftext_html": null, "selftext": "", "likes":
        null, "user_reports": [], "secure_media": null, "link_flair_text": null, "id":
        "2m9a1a", "gilded": 0, "secure_media_embed": {}, "clicked": false, "report_reasons":
        null, "author": "sidcool1234", "media": null, "score": 1103, "approved_by":
        null, "over_18": false, "hidden": false, "thumbnail": "", "subreddit_id":
        "t5_2fwo", "edited": false, "link_flair_css_class": null, "author_flair_css_class":
        null, "downs": 0, "mod_reports": [], "saved": false, "is_self": false, "name":
        "t3_2m9a1a", "permalink": "/r/programming/comments/2m9a1a/the_amturing_award_is_often_called_the_nobel/",
        "stickied": false, "created": 1415970365.0, "url": "http://bits.blogs.nytimes.com/2014/11/13/google-lifts-the-turing-award-into-nobel-territory/?ref=reddit.technology&amp;_r=0",
        "author_flair_text": null, "title": "The A.M.Turing Award is often called
        the Nobel prize of computer science. Now, thanks to Google\u2018s largesse,
        it will be a Nobel-level prize financially: $1 million.", "created_utc": 1415941565.0,
        "ups": 1103, "num_comments": 55, "visited": false, "num_reports": null, "distinguished":
        null}}, {"kind": "t3", "data": {"domain": "code.google.com", "banned_by":
        null, "media_embed": {}, "subreddit": "programming", "selftext_html": null,
        "selftext": "", "likes": null, "user_reports": [], "secure_media": null, "link_flair_text":
        null, "id": "2m9jif", "gilded": 0, "secure_media_embed": {}, "clicked": false,
        "report_reasons": null, "author": "alexeyr", "media": null, "score": 67, "approved_by":
        null, "over_18": false, "hidden": false, "[...]
